/* Body Styles */

html,body{
    background-color: black;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

#normalButton{
    border-style: solid;
    border-color: white;
    padding: 0.5rem;
    background-color: black;
    color:white;
    text-decoration: none;
    transition: 0.25s;
}

#normalButton:hover{
    border-style: solid;
    border-color: white;
    padding: 0.5rem;
    background-color: white;
    color:black;
    text-decoration: none;
    transition: 0.25s;
}

/* Navigation Bar Styles */
#navBarStyle{
    color:white;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    text-decoration: none;
}

#leftNavStyles{
    float: left;
}

#rightNavStyles{
    float: right;
}

#navLinkStyles{
    color:white;
    margin-right: 2.5rem;
    padding: 2.5rem, 2.5rem;
    text-decoration: none;
    transition: 0.25s;
}

#navLinkStyles:hover{
    padding: 2.5rem, 2.5rem;
    background-color: white;
    color:black;
    margin-right: 2.5rem;
    text-decoration: none;
}

/* #navSocialStyles{
    margin-right: 1rem;
    margin-left: 7.5rem;
    color:white;
    font-size: 2rem;
} */

/* #navSocialStylesEmail{
    margin-right: 1rem;
    margin-left: 7.5rem;
    padding: 0;
    color:white;
    font-size: 2rem;
}

#navSocialStylesGit{
    margin-right: 1rem;
    margin-left: 7.5rem;
    padding: 0;
    color:white;
    font-size: 2rem;
}

#navSocialStylesL{
    margin-right: 1rem;
    margin-left: 7.5rem;
    padding: 0;
    color:white;
    font-size: 2rem;
} */

/* Intro Container Style */

#introContainer{
    margin-top: 3rem;
    margin-bottom: 7rem;
}

#introPara{
    font-size: 1.5rem;
    font-weight: bold;
}

#resumeLink{
    padding: 0.25rem;
    background-color: black;
    color:white;
    margin-left: 51rem;
    text-decoration: none;
    transition: 0.25s;
}

#resumeLink:hover{
    padding: 0.25rem;
    background-color: white;
    color:black;
    margin-right: 2.5rem;
    text-decoration: none;
}

/* About Me Styles */
#mainTStyle{
    /* margin-left: 8rem; */
}

#mainHStyle{
    margin-left: 8rem;
}

#aboutPara{
    font-size: 1.5rem;
    margin-left: 8rem;
}

#myImg{
    height: 30rem;
    width: auto;
}

/* My Projects Styles */

#projectContainer{
    margin-top: 6rem;
    padding-bottom: 2rem;
    background-color: white;
    color: black;
}

#projectCards{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-style: solid;
    border-color: black;
}

#normalCardButtons{
    border-style: solid;
    border-color: white;
    padding: 0.5rem;
    background-color: black;
    color:white;
    text-decoration: none;
    transition: 0.25s;
}

#normalCardButtons:hover{
    border-style: solid;
    border-color: white;
    padding: 0.5rem;
    background-color: white;
    color:black;
    text-decoration: none;
    transition: 0.25s;
    margin-top: 1.5rem;
}

#projectImg{
    width: auto;
}

/* Footer Styles */

#footerStyle{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: black;
    color: white;
}

#footer-linkL{
    border-style: solid;
    border-color: white;
    padding: 0.5rem;
    background-color: black;
    color:white;
    text-decoration: none;
    transition: 0.25s;
}

#footer-linkL:hover{
    border-style: solid;
    border-color: white;
    padding: 0.5rem;
    background-color: white;
    color:black;
    text-decoration: none;
    transition: 0.25s;
}

#footer-linkG{
    border-style: solid;
    border-color: white;
    padding: 0.5rem;
    background-color: black;
    color:white;
    text-decoration: none;
    transition: 0.25s;
}

#footer-linkG:hover{
    border-style: solid;
    border-color: white;
    padding: 0.5rem;
    background-color: white;
    color:black;
    text-decoration: none;
    transition: 0.25s;
}
