/* Font Families Used */
/* 
font-family: 'Cedarville Cursive', cursive;
font-family: 'Mukta', sans-serif;
font-family: 'Roboto', sans-serif; 
*/

/* Body Styles */

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

#normalButton{
    font-family: 'Roboto', sans-serif; 
    border-style: solid;
    border-color: white;
    padding: 0.5rem;
    background-color: black;
    color:white;
    text-decoration: none;
    transition: 0.25s;
}

#normalButton:hover{
    font-family: 'Roboto', sans-serif; 
    border-style: solid;
    border-color: white;
    padding: 0.5rem;
    background-color: white;
    color:black;
    text-decoration: none;
    transition: 0.25s;
}

/* Navigation Bar Styles */

#navBarStyle{
    font-family: 'Cedarville Cursive', 'cursive';
    font-size: 2.3rem;
    color:black;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    text-decoration: none;
}

#leftNavStyles{
    padding-top: 1rem;
    padding-bottom: 1rem;
    float: left;
}

#rightNavStyles{
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    float: right;
}

#navLinkStyles{
    font-family: 'Roboto', sans-serif; 
    font-size: 1.5rem;
    color:black;
    margin-right: 2.5rem;
    padding: 3rem, 3rem;
    text-decoration: none;
    transition: 0.25s;
}

#navLinkStyles:hover{
    font-family: 'Roboto', sans-serif; 
    padding: 1.5rem;
    color:black;
    border-bottom: 0.15rem solid black;
    margin-right: 2.5rem;
    text-decoration: none;
}

#navSocialStyles{
    margin-right: 1rem;
    margin-left: 7.5rem;
    color:white;
    font-size: 2rem;
}

#navSocialStylesEmail{
    color:black;
    margin-right: 2rem;
    font-size: 3rem;
}

#navSocialStylesEmail:hover{
    color:red;
    margin-right: 2rem;
    font-size: 3rem;
}

#navSocialStylesGit{
    color:black;
    margin-right: 2rem;
    font-size: 3rem;
}

#navSocialStylesGit:hover{
    color:#171515;
    margin-right: 2rem;
    font-size: 3rem;
}

#navSocialStylesL{
    color: black;
    font-size: 3rem;
}

#navSocialStylesL:hover{
    color: #0077b5;
    font-size: 3rem;
}

#mainSStyle{
    font-family: 'Mukta', sans-serif;
}

/* Intro Container Style */

#introContainer{
    padding-top: 3rem;
    margin-bottom: 7rem;
}

#introPara1{
    font-family: 'Mukta', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

#introPara2{
    font-family: 'Mukta', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

/* About Me Styles */

#mainTStyle{
    font-family: 'Mukta', sans-serif;
}

#mainHStyle{
    font-family: 'Mukta', sans-serif;
    margin-left: 8rem;
}

#aboutPara{
    font-family: 'Roboto', sans-serif; 
    font-size: 1.3rem;
    margin-left: 8rem;
    color: black;
    padding: 1rem;
    border-radius: 0.5rem;
}

#myImg{
    margin-top: 5rem;
    height: 30rem;
    width: auto;
    border-radius: 10rem;
}

#myImg:hover{
    transition: 0.75s;
    border-radius: 0;
}

/* My Projects Styles */

#projectContainer{
    margin-top: 5rem;
    padding-bottom: 2rem;
    background-color: white;
    color: black;
    margin-bottom: 2rem;
}

#projectCards{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: .2rem;
    border-style: solid;
    border-color: black;
}

#projectCards .card-title{
    font-family: 'Roboto', sans-serif;
    font-size: 1.15rem;
}

#projectCards #projText{
    font-family: 'Roboto', sans-serif;
    color: transparent;
    margin: 0;
}

#projectCards:hover #projText{
    border-top: 0.01rem white solid;
    border-bottom: 0.01rem white solid;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;
    color: white;
}

#projectCards:hover{
    transition: 0.5s;
    box-shadow: 1rem 1rem rgba(0, 0, 0);
}


#normalCardButtons{
    border-style: solid;
    border-color: white;
    padding: 0.5rem;
    background-color: black;
    color:white;
    text-decoration: none;
    transition: 0.25s;
}

#normalCardButtons:hover{
    border-style: solid;
    border-color: white;
    padding: 0.5rem;
    background-color: white;
    color:black;
    text-decoration: none;
    transition: 0.25s;
}

#mainPStyle{
    font-family: 'Mukta', sans-serif;
    padding-top: 2.5rem;
}

#projectImg{
    width: auto;
}

/* My Skills Styles */

#mainSStyle{
    font-family: 'Mukta', sans-serif;
    padding-top: 5.5rem;
}

#devRowBorder{
    /* border: red solid 0.25rem; */
    margin-bottom: 3rem;
}

#devColBorder{
    /* border: greenyellow solid 0.25rem; */
}

#mySkillsIcons{
    font-size: 2.5rem;
    color: white;
}

#mySkillsParaH{
    font-size: 2rem;
    color: white;
    border-bottom: solid 0.25rem white;
}

#mySkillsPara{
    font-size: 1.5rem;
}

#mySkillsContainer{
    margin-bottom: 3rem;
}

/* Footer Styles */

#mainCStyle{
    font-family: 'Mukta', sans-serif;
}

#footerStyle{
    font-family: 'Roboto', sans-serif; 
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: black;
    color: white;
}

#footer-linkL{
    border-style: solid;
    border-color: white;
    padding: 0.5rem;
    background-color: black;
    color:white;
    text-decoration: none;
    transition: 0.25s;
}

#footer-linkL:hover{
    border-style: solid;
    border-color: white;
    padding: 0.5rem;
    background-color: white;
    color:black;
    text-decoration: none;
    transition: 0.25s;
}

#footer-linkG{
    border-style: solid;
    border-color: white;
    padding: 0.5rem;
    background-color: black;
    color:white;
    text-decoration: none;
    transition: 0.25s;
}

#footer-linkG:hover{
    border-style: solid;
    border-color: white;
    padding: 0.5rem;
    background-color: white;
    color:black;
    text-decoration: none;
    transition: 0.25s;
}
